<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

	<bean id="studentService" class="com.kittycoder.beanfactorypostprocessor.po.StudentService">
		<property name="name" value="chenssy"/>
		<property name="age" value="10"/>
	</bean>

	<bean class="com.kittycoder.beanfactorypostprocessor.po.BeanFactoryPostProcessor_1"/>
	<bean class="com.kittycoder.beanfactorypostprocessor.po.BeanFactoryPostProcessor_2"/>
</beans>
