<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

	<bean id="husband" class="com.kittycoder.circledependency.po.Husband">
		<property name="name" value="Tom"/>
		<property name="wife" ref="wife"/>
	</bean>

	<bean id="wife" class="com.kittycoder.circledependency.po.Wife">
		<property name="name" value="Julie"/>
		<property name="husband" ref="husband"/>
	</bean>
</beans>
